<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <title>404</title>
</head>
<body>
  <%- include('partials/header3.ejs') %>
  <main>
    <a href="/"><button class="retour">Retour vers la page de connexion</button></a>
    <div class="no">
        <p>404</p>
           <img src="image/5115903.webp" width="800">  
    </div>

  </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>