header {
    background: #0d2142;
    color: #fff;
    border-bottom: 2px dashed white;
    padding: 1em 0;
    text-align: center;
  }

header >.fa-solid{
    font-size: 2em;
}

  
  footer {
    background: #0d2142;
    color: #fff;
    border-top: 2px dashed white;
    text-align: center;
    padding: 1em 0;

  }